.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    background-color: #999c99;
    padding: 10px;
}

.link {
    display: block;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
}

.activeLink {
    color: #fff;
}